#myCanvas{
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/21/49/background-for-text-geometric-shapes-vector-19362149.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}