#myCanvas{
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    background-image: url(/Users/George/Downloads/EscapeTheShape-master/shape_background_img.png)
}