#myCanvas{
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/21/49/background-for-text-geometric-shapes-vector-19362149.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.author-info{
    display: flex;
}

.author-info a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}

.author-info a:hover{
    color: #00c;
}

